html {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    
    /* background-color: #18bc9c!important; */
}

body {
    height: 100%;
    width: 100%;
    background-color: #624dd6;
    /* background-color: #18bc9c; */
    /* background-image: url("../img/IMG_20181115_152447.jpg"); */
}

.masthead {
    position: relative;
    width: 100%;
    min-height: 45rem;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.1)),color-stop(75%,rgba(22,22,22,.5)),to(#161616)),url("../img/1_35.jpg");
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url("../img/1_35.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 160px;
}

header.masthead{
    padding-top:calc(.5rem + 62px);
}

.img-fluid {
    /* width: 250px;
    height: auto;
    border-radius: 50%; */
    visibility: hidden;
    /* transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5); */
}

/* Viewports */
@media (max-width: 600px) { 
    .masthead {
        background: #624dd6;
    }
    html {
        overflow-y: visible;
    }
 }
@media (min-width: 600px) { 
    .masthead {
        width: 100%;
        /* min-height: 35rem; */
        /* background-size: 100% auto; */
        /* background-position: left top; */
        /* background-position: left; */
    }
    .img-fluid{
        display: none!important;
    }
    html {
        overflow-y: visible;
        /* height: max-content */
    }
    body{
        width: auto;
    }
 }

 /* iPhone 5/SE */
 @media (min-width: 320px) and (max-width: 580px) { 
    .img-fluid {
        width: 250px;
        height: auto;
        border-radius: 50%;
        visibility: visible;
    }
    header.masthead{
        padding-top: calc(.5rem + 22px);
    }
    header.masthead h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    header.masthead h2 {
        font-size: 1rem;
        font-family: Lato;
    }
    .btn-social {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        line-height: 2rem;
    }
  }

  @media (min-width: 992px) {
    .img-fluid{
        display: none!important;
    }
    header.masthead{
        padding-top:calc(3rem + 72px);
    }
    .masthead {
        position: fixed;
        min-height: 65rem;
        background-position: left;
    }
  }

